.app-header {
  box-shadow: 0 4px 20px rgba(0,0,0,0.05);
  background: white !important;
}

.app-header .nav-link {
  font-weight: 500;
  color: #6c757d;
  transition: color 0.3s ease;
  display: flex;
  align-items: center;
}

.app-header .nav-link:hover {
  color: #0d6efd;
}

.app-header .nav-link.active {
  color: #0d6efd;
  font-weight: 600;
}

.navbar-brand {
    font-weight: 700;
}